.sidebar-options-active {
  background-color: rgba(255, 0, 0, 0.8) !important;
  color: white;
  border-radius: 1rem;
}

.sidebar-options:hover {
  background-color: rgba(255, 0, 0, 0.2);
  border-radius: 1rem;
  cursor: pointer;
}


.sidebar {
  background-color: white;
  transition: width 0.3s;
}

.sidebar-options-active {
  background-color: #e7f1ff; /* Active option background */
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%; /* Full width on mobile */
    position: relative; /* Change from fixed to relative */
    display: none; /* Initially hidden */
  }

  .sidebar.active {
    display: block; /* Show when active */
  }

  .toggle-sidebar {
    display: block; /* Show toggle button on mobile */
  }
}
